<div class="container">
  <h2 class="thing"></h2>

  <div class="loading">
    <div *ngFor="let card of loadingCards; index as i" class="loading-card">
      <div class="color-changer"></div>
      <div class="image"></div>
      <div class="title"></div>
      <div class="title"></div>
      <div class="separator"></div>
      <div class="description"></div>
      <div class="description"></div>
      <div class="description"></div>
      <div class="description"></div>
      <div class="description"></div>
    </div>
  </div>
</div>
