.detail-main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding-top: 50px;
}
.detail-content {
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
  padding-bottom: 100px;
}
.repo-header {
  margin-right: 2rem;

  .repo-owner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .owner-avatar {
      border-radius: 50%;
      width: 320px;
      height: 320px;
      border: 2px solid rgb(210, 210, 210, 1);
    }
    .owner-login {
      font-size: 2.2rem;
      color: rgb(0, 0, 0, 0.8);
    }
    .owner-link {
      color: rgb(46, 41, 41);
      position: relative;
    }
    .owner-link::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0; /* Start with no width */
      height: 3px;
      background-color: rgb(46, 41, 41);
      transition: width 0.7s ease; /* Transition width property */
    }

    .owner-link:hover::after {
      width: 100%; /* Grow to full width on hover */
    }
  }
}
.repo-content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  border: 1px solid rgb(210, 210, 210);

  .repo-title {
    text-align: center;
    width: 100%;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    color: rgb(0, 0, 0, 0.8);
    font-weight: 500;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(210, 210, 210);
  }
  .repo-description {
    margin-bottom: 1rem;
    font-weight: 600;
  }

  .repo-stats {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 0.4rem;
    max-width: 70%;
    margin-bottom: 1rem;

    h3 {
      font-weight: 600;
      color: rgb(54, 54, 248);
      margin-bottom: 0.5rem;
    }
    p {
      display: flex;
      align-items: center;
      height: 25px;
      max-width: 60%;
    }
    strong {
      margin-left: 5px;
      color: rgb(0, 0, 0, 0.8);
      margin-right: auto;
    }
    .svg {
      color: rgb(82, 82, 226);
      font-size: 20px;
      margin-top: 4px;
    }
  }
  .repo-dates {
    p {
      display: flex;
      align-items: center;
      height: 25px;
      max-width: 60%;
    }
    strong {
      margin-left: 5px;
      color: rgb(0, 0, 0, 0.8);
      margin-right: auto;
    }
  }
  .repo-license {
    display: flex;
    align-items: center;
    height: 25px;
    max-width: 60%;

    strong {
      margin-left: 5px;
      color: rgb(0, 0, 0, 0.8);
      margin-right: auto;
    }
  }

  .repo-link-holder {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(0, 0, 0, 0.8);
    cursor: pointer;
  }
  .repo-link {
    color: rgb(46, 41, 41);
    position: relative;
    margin-top: 2rem;
  }
  .repo-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0; /* Start with no width */
    height: 2px;
    background-color: rgb(46, 41, 41);
    transition: width 0.7s ease; /* Transition width property */
  }

  .repo-link:hover::after {
    width: 130px; /* Grow to full width on hover */
  }
}

@media (max-width: 940px) {
  .repo-header {
    .repo-owner {
      .owner-avatar {
        width: 250px;
        height: 250px;
      }
    }
  }
}
@media (max-width: 940px) {
  .detail-content {
    flex-direction: column;
    margin-top: 1rem;
  }
  .repo-header {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 590px) {
  .repo-content {
    .repo-stats {
      max-width: 90%;
    }
  }
}
@media (max-width: 490px) {
  .repo-content {
    padding: 1rem;

    .repo-stats {
      max-width: 100%;

      p {
        max-width: 90%;
      }
    }
    .repo-dates {
      p {
        max-width: 90%;
      }
    }
    .repo-license {
      max-width: 90%;
    }
  }
}
@media (max-width: 390px) {
  .repo-header {
    .repo-owner {
      .owner-avatar {
        width: 200px;
        height: 200px;
      }
    }
  }
}
